.catalog {
  &-flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 9px;
    grid-row-gap: 25px;
    padding: 0 13px;
    margin-top: 20px;

    .catalog-item {
      margin-left: 0;
      width: 100%;

      &--img-container {
        width: 100%;
      }
    }
  }
}
