.stories {
  &-popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 1);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    &--controls {
      width: 20%;
      height: 100%;
      background: #000;
      z-index: 15;
      position: absolute;
      opacity: 0;
      &-left {
        left: 0;
      }
      &-right {
        right: 0;
      }
    }

    &--group {
      width: 100%;
      height: 100%;
    }

    &--img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--close {
      position: absolute;
      color: #fff;
      font-size: 20px;
      right: 20px;
      top: 20px;
      z-index: 15;
    }

    &--progress {
      width: 100%;
      position: absolute;
      top: 5px;
      padding: 0 5px;
      display: grid;
      grid-column-gap: 4px;
      z-index: 15;
      &-item {
        background: rgba(255, 255, 255, .6);
        height: 3px;
        border-radius: 10px;
        position: relative;

        &--bar {
          width: 0;
          height: 100%;
          background: #fff;

          &.animate {
            animation: animateBar 5s linear forwards;
          }

          &.paused {
            animation-play-state: paused;
          }

          &.end {
            width: 100% !important;
            animation: none;
          }

          /*@keyframes animateBar {
            0% {
              width: 0;
            }
            100% {
              width: 100%;
            }
          }*/
        }
      }
    }
  }
}
