.CartIndicator {
  position: fixed;
  background: $purple;
  border-radius: 30px;
  padding: 8px 30px;
  bottom: 20px;
  right: 20px;
  text-align: center;
  &--total {
    color: #fff;
    font-size: 20px;
    letter-spacing: 0.025em;
  }
  &--time {
    color: #fff;
    font-size: 12px;
    letter-spacing: 0.025em;
    margin-top: 4px;
  }
}
