@font-face {
  font-family: "SB";
  src: url("fonts/SBSansDisplay.otf");
  font-weight: normal;
}

@font-face {
  font-family: "SB";
  src: url("fonts/SBSansDisplaySemibold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "SBT";
  src: url("fonts/SBSansText.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "SBT";
  src: url("fonts/SBSansTextSemibold.ttf");
  font-weight: bold;
}

