@font-face {
  font-family: "SB";
  src: url("./fonts/SB Sans Display.otf");
  font-weight: normal;
}

@font-face {
  font-family: "SB";
  src: url("./fonts/SB Sans Display Semibold.otf");
  font-weight: bold;
}
