@import "fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SB", sans-serif;
  color: $text;
  user-select: none;
}

input {
  user-select: initial;
}

#app {
  padding-bottom: 70px;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 800px) {
  html {
    background: rgba(0, 0, 0, .8);
  }
  #app {
    width: 400px;
    margin: 0 auto;
    min-height: 100vh;
    background: #fff;
  }
}

.toggle {
  padding: 4px;
  width: 49px;
  height: 26px;
  background: $buttonBg;
  border-radius: 99px;
  &.active .toggle-circle {
    transform: translateX(23px);
  }
  &-circle {
    width: 18px;
    height: 18px;
    background: $purple;
    border-radius: 50%;
    transition: .3s;
  }
}
