@import "fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SB", sans-serif;
  color: $text;
  user-select: none;
}

#app {
  padding-bottom: 70px;
}

@media screen and (min-width: 400px) {
  html {
    background: rgba(0, 0, 0, .8);
  }
  #app {
    width: 400px;
    margin: 0 auto;
    height: 100vh;
    background: #fff;
  }
}
